.colorDisplay{

    font-family: 'Mada', sans-serif;
    padding: 5px 15px;
    box-shadow: 8px 8px 6px -6px #304246;
    border-radius: 4px;
    text-decoration: none;
    color: #F9FAFB;

}
.childbox{
    height: 60vh;
    width: 51vw;
    background: #F9FAFB;
    box-shadow: 8px 8px 6px -6px #304246,
    -8px -8px 6px #fff ;
     margin-top: 1em;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: column;
     overflow-y: auto;
     
}
.childbox::-webkit-scrollbar{
    width: 6px;
    background-color: #F9FAFB;
}
.childbox::-webkit-scrollbar-thumb{
    background: #304246;
}
.kid{
    
    box-shadow: 8px 8px 6px -6px #304246;
    width:  49vw;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.childPic{
    box-shadow: 8px 8px 6px -6px #304246;
    max-height: 14vh;
}