.container{
    height: 60vh;
    width: 30vw;
    background: #F9FAFB;
    box-shadow: 8px 8px 6px -6px #304246,
    -8px -8px 6px #fff ;
    margin-top: 4em;
    
}
.logInTitle{
    text-align: center;
    background: #20A4F3;
    font-family: 'Kalam', cursive;
    color: #304246;
    font-size: 1.5em;
    font-style: italic;
    box-shadow: 0 8px 6px -6px #304246;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 100%;
}
.username, .password{
    border: 1px solid #304246;
    height: 3vh;
    text-align: center;
    color: #304246;
    border-radius: 4px;
}
.button{

    font-family: 'Mada', sans-serif;
    background: #59F8E8;
    padding: 5px 15px;
    box-shadow: 0 8px 6px -6px #304246;
    border-radius: 4px;
    text-decoration: none;
    color: #304246;
    cursor: pointer;
}
h1 {
    margin: 0;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}