.container{
    height: 60vh;
    width: 30vw;
    background: #F9FAFB;
    box-shadow: 20px 20px 30px  #30424650,
     -20px -20px 20px #fff ;
     margin-top: 1em;
    
}
.logInTitle{
    text-align: center;
    background: #20A4F3;
    font-family: 'Kalam', cursive;
    color: #304246;
    font-size: 1.5em;
    font-style: italic;
    border-bottom: 1px solid #304246;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 100%;
}
input{
    border: 1px solid #304246;
    height: 4vh;
    text-align: center;
    color: #304246;
    border-radius: 4px;
}
.button{

    font-family: 'Mada', sans-serif;
    background: #59F8E8;
    padding: 5px 15px;
    border: 1px solid #304246;
    border-radius: 4px;
    text-decoration: none;
    color: #304246;
    cursor: pointer;
}
h1 {
    margin: 0;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}